{% extends "base.html" %}

{% block title %}Secure Chat{% endblock %}

{% block content %}
<div class="chat-app">
    <header class="chat-header">
        <h2>Secure Chat - Welcome {{ username }}</h2>
        <a href="{{ url_for('main.logout') }}" class="logout-btn">Logout</a>
    </header>
    
    <div class="messages-container" id="messages">
        {% for message in messages %}
            {% if message.parent_message_id %}
                <div class="message-reply">
                    <div class="reply-content">
                        <span class="message-username">{{ message.parent.author.username }}</span>
                        <span class="message-content">{{ message.parent.content[:30] + "..." if message.parent.content|length > 30 else message.parent.content }}</span>
                    </div>
                    <div class="message-container" data-message-id="{{ message.id }}">
                        <span class="message-timestamp" data-timestamp="{{ message.timestamp.isoformat() }}">{{ message.timestamp.strftime('%H:%M') }}</span>
                        <div class="message-bubble">
                            <span class="message-username">{{ message.author.username }}</span>
                            <span class="message-content">{{ message.content }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="message-container" data-message-id="{{ message.id }}">
                <span class="message-timestamp" data-timestamp="{{ message.timestamp.isoformat() }}">{{ message.timestamp.strftime('%H:%M') }}</span>
                <div class="message-bubble">
                    <span class="message-username">{{ message.author.username }}</span>
                    <span class="message-content">{{ message.content }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="reply-container" id="reply-container">
        <div class="reply-content-wrapper" id="reply-content-wrapper">
          <span class="reply-username" id="reply-username">Username</span>
          <span class="reply-content" id="reply-content">This is the reply content.</span>
        </div>
        <button class="btn-primary" id="cancel-reply-btn">Cancel</button>
    </div>
    <div class="chat-input-container">
        <form id="message-form" class="message-form">
            <textarea id="message-input" class="message-input"  placeholder="Type your message..." required></textarea>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}